@model WebStore.Models.CartViewModel
@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center flex-wrap">
    <div style="width: 50vw;">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <h3>Products in cart</h3>
            </div>
            <div class="d-flex justify-content-center flex-wrap">
                
                @foreach (var items in Model.Items)
                {
                    <div class="card" style="width: 20rem;">
                        <ul class="list-group list-group-flush">
                            @*<li class="list-group-item">
                        <span class="fw-bold">Category: </span> @Model.Name
                        </li>*@
                            <li class="list-group-item"><span class="fw-bold">Name: </span>@items.product.Name - @items.Quantity</li>
                            <li class="list-group-item"><span class="fw-bold">Description: </span> @(items.product.Description?.Substring(0, Math.Min(items.product.Description.Length, 10)) + (items.product.Description?.Length > 10 ? "..." : ""))
                                <a asp-controller="Cart" asp-action="Add" asp-route-id="@items.product.Id" class="btn btn-primary mb-2">+</a>
                                <a asp-controller="Cart" asp-action="Remove" asp-route-id="@items.product.Id" class="btn btn-primary mb-2">-</a>
                            </li>
                            <li class="list-group-item">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@items.product.Id"
                                   class="btn btn-primary mb-2">View</a>
                                
                                @*@if (this.ViewBag.Owner == product.Owner)
                                {
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                                       class="btn btn-primary mb-2">Edit</a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                                       class="btn btn-primary mb-2">Delete</a>
                                }*@
                            </li>
                        </ul>
                    </div>
                }
                @if(Model.Items.Count() > 0)
                {
                    <a class="btn btn-info" asp-controller="Cart" asp-action="Order" asp-route-id="@Model.Id"> Order</a>
                }
                </div>
        </div>
    </div>
</div>
