@model WebStore.Models.ProductModel.ProductViewModel

@{
    ViewBag.Title = "View Product Details";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="d-flex justify-content-center flex-wrap">
    <div class="card " style="width: 50vw;">
        <div class="card-body">
            <h2 class="card-title text-center">@Model.Name</h2>
            
            <p class="card-text"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="card-text"><span class="fw-bold">Price: </span>@Model.Price $$</p>
            <p class="card-text"><span class="fw-bold">Category: </span>@Model.Category </p>
            <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-primary mb-2">Edit</a>
            <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-primary mb-2">Delete</a>
            <a asp-controller="Cart" asp-action="Add" asp-route-id="@Model.Id"
               class="btn btn-primary mb-2">Add to cart</a>
            

        </div>
        <a asp-controller="Review" asp-action="Create" asp-route-id="@Model.Id"
           class="btn btn-primary mb-2">Create review</a>
           <h2>Reviews</h2>
        @foreach (var review in Model.Reviews)
        {
            <div class="card" style="width: 50vw;">
                <ul class="list-group list-group-flush" style="list-style-type: none;">
                    <li class="list-group-item"><span class="fw-bold">Description: </span>@review.Description</li>
                    
                    
                        <li><a asp-controller="Review" asp-action="Edit" asp-route-id="@review.Id"
                           class="btn btn-primary mb-2">Edit</a>
                    <a asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id" class="btn btn-danger mb-2">Delete</a></li>
                    
            
                    
                    
                </ul>
            </div>
        }
    </div>
</div>
