@model WebStore.Models.RoleModel.SetRoleViewModel;


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Role";
}

<h5 class="text-center text-primary font-weight-bold">@ViewBag.Title</h5>
<hr />


<form asp-action="SetUserRole" method="post">
    <div class="row mb-3 w-50 mx-auto">
        <div class="card-body">
            <label asp-for="UserName" class="form-label text-primary">User</label>
            <input asp-for="UserName" value="@Model.UserName" disabled class="form-control" aria-required="true" />
        </div>
        <div class="card-body">
            <label class="form-label text-primary">User Roles:</label>
            <ul>@Model.RoleName</ul>
        </div>
        <div class="card-body">
            <label asp-for="RoleName" class="form-label text-primary">New Role</label>
            <select asp-for="RoleName" class="form-control">
                <option>Select role</option>
                @foreach (var role in Model.AllRoles)
                {
                        <option value="@role.Name">@role.Name</option>
                }
            </select>
                <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <input class="btn btn-primary mb-2" type="submit" value="Submit" />
            <a asp-controller="Admin" asp-action="AssignRole" class="btn btn-primary mb-2" style="float: right">Cancel</a>    
        </div>
    </div>
</form>



@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
