@model WebStore.Models.RoleModel.SetRoleViewModel;


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Role";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <form asp-action="SetUserRole" method="post">
    <div class="card-body">
        <label asp-for="UserName" class="form-label">User</label>
        <input asp-for="UserName" value="@Model.UserName" class="form-control" aria-required="true" />
       
    </div>
    <div class="card-body">
            <label class="form-label">User Roles:</label>
            <ul>@Model.RoleName</ul>
    </div>
    <div class="card-body">
        <label asp-for="RoleName" class="form-label">Set Role</label>
        <select asp-for="RoleName" class="form-control">
            <option>Select role</option>
            @foreach (var role in Model.AllRoles)
            {
                    <option value="@role.Name">@role.Name</option>
            }
        </select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <div class="mb-3"><input class="btn btn-primary mb-2" type="submit" value="Set Role" /></div>
    </form>


</div>




@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
