@model WebStore.Models.AccountModel.AccountViewModel;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "User Roles";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    <form asp-action="SetUserRole" method="post">
    <div class="card-body">
        <label asp-for="Username" class="form-label">User</label>
        <input asp-for="Username" value="@Model.Username" class="form-control" aria-required="true" />
       
    </div>
        <div class="card-body">
            <label class="form-label">User Roles:</label>
        <ul>
        @foreach (var role in ViewBag.UserRoles)
        {
                <li>@role.Name</li>
        }
        </ul>
    </div>
        <div class="card-body">
        <label asp-for="Role" class="form-label">Set Role</label>
        <select asp-for="Role" class="form-control">

        <option>Select role</option>

        @foreach (var role in ViewBag.AllRoles)
        {
            <option value="@role.Id">@role.Name</option>
        }
    </select> <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="mb-3"><input class="btn btn-secondary mb-2" type="submit" value="Set Role" /></div>
    </form>


</div>




@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}
