@using Microsoft.AspNetCore.Identity
@model WebStore.Models.RoleModel.EditRoleViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Find Role by Name";
}
<h5 class="text-center text-primary font-weight-bold">Role</h5>
<hr />

@if (Model != null)
{
    <div class="mb-3 w-50 mx-auto">
        <div class="card mb-3">
                <!-- <div class="card-header">
                    Role Id : @Model.Id
                </div> -->
                <div class="card-body">
                    <h5 class="card-title">@Model.RoleName</h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-route-roleId="@Model.Id" method="post">
                        <a asp-controller="Admin" asp-action="EditRole" asp-route-roleId="@Model.Id" class="btn btn-primary">Edit</a>
                        <span id="confirmDeleteSpan_@Model.Id" style="display:none">
                            <span>Are you sure you want to Delete?</span>
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <a href="#" class="btn btn-primary"
                                onclick="confirmDelete('@Model.Id', false)">No</a>
                        </span>
                        <span id="deleteSpan_@Model.Id">
                            <a href="#" class="btn btn-danger"
                                onclick="confirmDelete('@Model.Id', true)">Delete</a>
                        </span>
                    </form>
                    </div>
        </div>


    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Admin">Add New Role</a>
    <a asp-controller= "Admin" asp-action="Index" class="btn btn-primary mb-3" style="float: right">Back</a>
    </div>
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Admin" asp-action="CreateRole">Create Role</a>
        </div>
    </div>
}

<script>
    function confirmDelete(uniqueId, isTrue) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;
        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>