@using WebStore.Models.ProductModel;
@using WebStore.Models.PhotoModel;
@model List<PhotoViewModel>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "List Product Photos";
    var successMessage = TempData["successMessage"]?.ToString();
    var errorMessage = TempData["errorMessage"]?.ToString();
    var product = ViewData["Product"] as ProductFormModel;

    //var categories = ViewData["CategoriesList"] as List<Category>;
}

<h5 class="text-center text-primary font-weight-bold">@ViewData["Title"]:</h5>
<h5 class="text-center text-dark font-weight-bold">@product.Name</h5>
 
<hr />  <!-- Horizontal row for separation -->
@if (!string.IsNullOrWhiteSpace(@successMessage))
{
    <div class="alert alert-success">
        <strong>Success! </strong>@successMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrWhiteSpace(@errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error! </strong>@errorMessage
        <button type="button" class="btn-close float-end" data-bs-dismiss="alert"></button>
    </div>
}

<form>
    <button asp-controller="Photo" asp-action="UploadPhotos" asp-route-id="@product.Id"
            class="btn btn-primary mb-1">Add Photos</button>
    <button asp-controller="Product" asp-action="ListProdByCat" asp-route-id="@product.Category" 
    class="btn btn-primary mb-1" style="float: right">Back</button>

    <table class="table table-responsive table-hover table-bordered">
        <thead>
            <tr class="table-active">
                <th class="text-center">Id</th>
                <th class="text-center">Name</th>
                <th class="text-center">Size /bytes/</th>
                <th class="text-center">Photo</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (PhotoViewModel photo in Model)
                {
                    <tr>
                        <td class="text-center align-middle">@photo.Id</td>
                        <td class="text-center align-middle" >@photo.Name</td>
                        <td class="text-center align-middle" >@photo.Size</td>
                        @{
                            var base64Image = Convert.ToBase64String(photo.Bytes);
                            var image = String.Format($"data:image/{photo.FileExtension};base64,{base64Image}");
                            
                        }
                        <td class="text-center align-middle">
                            <img src="@image" alt="No image" height="100" width="100" class="img-fluid">
                        </td>

                        <td class="text-center align-middle">
                            <div class="btn-group btn-group-sm">
                                <!-- <a asp-controller="Photo" asp-action="Edit" asp-route-id="@photo.Id"
                                   class="btn btn-primary">Edit</a> -->
                                <a asp-controller="Photo" asp-action="Delete" asp-route-id="@photo.Id"
                                   class="btn btn-danger">Delete</a>
                            </div>
                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="6">
                        <div>
                            No photos available for this product!
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</form>
