@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-2">Create category</a>
    <a asp-controller="Sales" asp-action="SaleOnCategory" class="btn btn-primary mb-2">Create category sale</a>
    <a asp-controller="Sales" asp-action="SaleOnProduct" class="btn btn-primary mb-2">Create product sale</a>
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary mb-2">Create product</a>
    @foreach (var product in ViewBag.Products)
    {
        <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="fw-bold">Category: </span> @foreach (var category in ViewBag.Categories)
                    {
                        if (category.Id == product.Category)
                        {
                            <p class="fs-1">@category.Name</p>
                        }

                    }
                </li>
                <li class="list-group-item"><span class="fw-bold">Name: </span> @product.Name </li>
                <li class="list-group-item"><span class="fw-bold">Description: </span> @(product.Description?.Substring(0, Math.Min(product.Description.Length, 10)) + (product.Description?.Length > 10 ? "..." : ""))</li>
                <li class="list-group-item"><span class="fw-bold">Price: </span> @product.OriginalPrice $$</li>
                <li class="list-group-item">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id"
                       class="btn btn-primary mb-2">View</a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id"
                           class="btn btn-primary mb-2">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id"
                           class="btn btn-primary mb-2">Delete</a>
                </li>
            </ul>
        </div>
    }

</div>
