@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary mb-2">Create category</a>
    <a asp-controller="Product" asp-action="Create" class="btn btn-primary mb-2">Create product</a>
    @foreach (var ad in ViewBag.Products)
    {
        <div class="card" style="width: 20rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="fw-bold">Category: </span> @foreach (var category in ViewBag.Categories)
                    {
                        if (category.Id == ad.Category)
                        {
                            <p class="fs-1">@category.Name</p>
                        }

                    }
                </li>
                <li class="list-group-item"><span class="fw-bold">Name: </span> @ad.Name </li>
                <li class="list-group-item"><span class="fw-bold">Description: </span> @(ad.Description?.Substring(0, Math.Min(ad.Description.Length, 10)) + (ad.Description?.Length > 10 ? "..." : ""))</li>
                <li class="list-group-item"><span class="fw-bold">Price: </span> @ad.Price $$</li>
                <li class="list-group-item">
                    <a asp-controller="Product" asp-action="Details" asp-route-id="@ad.Id"
                       class="btn btn-primary mb-2">View</a>
                    <a asp-controller="Product" asp-action="Edit" asp-route-id="@ad.Id"
                           class="btn btn-primary mb-2">Edit</a>
                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@ad.Id"
                           class="btn btn-primary mb-2">Delete</a>
                </li>
            </ul>
        </div>
    }

</div>
